<!DOCTYPE html>
<html ng-app="joshwcc">
<head>
  <title>Joshua Comeau - Web Developer &amp; Software Engineer</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  <%= javascript_include_tag 'application' %>
  <script src="//use.typekit.net/arn4dpn.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="HomeController as home">

<%= yield %>

</body>
</html>
